.movie-detail {
  height: calc(100vh - 57.92px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}

.bg-color {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.movie-detail__poster {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.movie-details__image {
  border: 2px solid #fff;
}

.movie-description {
  margin-top: 3rem;
  color: #fff;
}

.movie-description__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}

.main-title {
  font-size: 3rem;
}

.date-any {
  font-size: 1.6rem;
  font-weight: 100;
  color: grey;
}

.movie-detail__teaser {
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
}

.list-item {
  display: inline-block;
  list-style: none;
  padding-left: 1rem;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 0;
  background: none;
  color: #fff;
  opacity: 1;
  text-shadow: none;
}

.modal-content {
  background: transparent;
  border: 0;
}

.modal-header {
  border-bottom: 0;
}

.no-trailer {
  color: #fff;
  font-size: 2rem;
}